<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#기관별-인턴십-참가자수-현황" data-toc-modified-id="기관별-인턴십-참가자수-현황-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>기관별 인턴십 참가자수 현황</a></span></li><li><span><a href="#베트남-학생-정보(특정-국가-학생-현황)" data-toc-modified-id="베트남-학생-정보(특정-국가-학생-현황)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>베트남 학생 정보(특정 국가 학생 현황)</a></span></li><li><span><a href="#논문평점--급간별-인원수-확인" data-toc-modified-id="논문평점--급간별-인원수-확인-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>논문평점  급간별 인원수 확인</a></span></li><li><span><a href="#전공별-학생수-비율(고대포함)" data-toc-modified-id="전공별-학생수-비율(고대포함)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>전공별 학생수 비율(고대포함)</a></span></li><li><span><a href="##-'2012-08-01'-이-후-입학-학생-대상-지도교수별-학생수" data-toc-modified-id="#-'2012-08-01'-이-후-입학-학생-대상-지도교수별-학생수-5"><span class="toc-item-num">5&nbsp;&nbsp;</span># '2012-08-01' 이 후 입학 학생 대상 지도교수별 학생수</a></span></li><li><span><a href="#2017년-4월-현재-재학생-현황" data-toc-modified-id="2017년-4월-현재-재학생-현황-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>2017년 4월 현재 재학생 현황</a></span></li></ul></div>

In [ ]:
# 노트북 안에서 그래프를 그리기 위해
%matplotlib inline

# Import the standard Python Scientific Libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress Deprecation and Incorrect Usage Warnings 
import warnings
warnings.filterwarnings('ignore')

In [1]:
# %matplotlib nbagg

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = [10, 6]


# #  display two pandas tables side by side
# from IPython.display import display, HTML
# CSS = """
# .output {
#     flex-direction: row;
# }
# """
# HTML('<style>{}</style>'.format(CSS))


# 기본 글꼴 변경
import matplotlib as mpl
mpl.font_manager._rebuild()
mpl.pyplot.rc('font', family='NanumBarunGothic')

# allow multiple outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
stu_info = pd.read_excel('Z:/200. 연락처/IUDP학생현황.xlsx',
                         date_parser=['참가기간(시작)', '참가기간(종료)', '체류기간(시작)', '체류기간(종료)', '인턴십 기간(시작)', 
                                      '인턴십 기간(종료)', '인턴십 기간2(시작)', '인턴십 기간2(종료)', '인턴십 기간3(시작)', 
                                      '인턴십 기간3(종료)', '국외여행1-1', '국외여행1-2', '국외여행2-1', '국외여행2-2', '국외여행3-1', '국외여행3-2'])
# Z:/200. 연락처/IUDP학생현황.xlsx
stu_info.shape

In [18]:
stu_info = pd.read_excel('./data/IUDP학생현황.xlsx',
                         date_parser=['참가기간(시작)', '참가기간(종료)', '체류기간(시작)', '체류기간(종료)', '인턴십 기간(시작)', 
                                      '인턴십 기간(종료)', '인턴십 기간2(시작)', '인턴십 기간2(종료)', '인턴십 기간3(시작)', 
                                      '인턴십 기간3(종료)', '국외여행1-1', '국외여행1-2', '국외여행2-1', '국외여행2-2', '국외여행3-1', '국외여행3-2'])
# Z:/200. 연락처/IUDP학생현황.xlsx
stu_info.shape

(341, 88)

In [ ]:
import missingno as msno

msno.matrix(stu_info, figsize=(12,5))

In [ ]:
sns.countplot(y='성별', data=stu_info)

## 기관별 인턴십 참가자수 현황

In [ ]:
stu_info['인턴십_국문'].unique()

In [ ]:
int_org = pd.DataFrame(stu_info['인턴십'].value_counts())
int_org['인턴십 기관'] = int_org.index
int_org.columns = ['참가자수','인턴십 기관']
int_org = int_org.reset_index().drop('index', axis=1)
int_org = int_org.drop(0, axis=0).set_index('인턴십 기관')
int_org
# int_org.to_excel('인턴십기관별참가자수.xlsx')

## 베트남 학생 정보(특정 국가 학생 현황)

In [ ]:
# 베트남 학생 정보
# 단일조건
vtn_stu=stu_info[stu_info['국가_국문']=='베트남'][['전공', '수', '참가기간(시작)','성명', '국가', '도시', '성별', '소속', '직위', '자국내 주소', '이메일', '연락처(자국)']]
# & (stu_info['학적']=='재학')

# 다중조건
# vtn_stu=stu_info[(stu_info['국가_국문']=='베트남')&(stu_info['성별']=='남')]
#         [['전공', '수', '참가기간(시작)','성명', '국가', '도시',
#           '성별', '소속', '직위', '자국내 주소', '이메일', '연락처(자국)']]
# vtn_stu=vtn_stu.reset_index().drop('index', axis=1).set_index('전공')
# vtn_stu.head()

# 추출
vtn_stu.to_excel('베트남학생정보.xlsx')

## 논문평점  급간별 인원수 확인

In [ ]:
sns.distplot(stu_info[stu_info['논문평점'] > 70.0]['논문평점'])

In [ ]:
plt.figure(figsize=(8,3))
sns.countplot(y='학적2', data=stu_info)

## 전공별 학생수 비율(고대포함)

In [ ]:
stu_maj_count = pd.DataFrame(stu_info['전공'].value_counts())
stu_maj_per = pd.DataFrame(stu_info['전공'].value_counts(normalize=True))
stu_maj_df = stu_maj_count.merge(stu_maj_per, left_index=True, right_index=True)
stu_maj_df.columns = ['학생수', '비율']
stu_maj_df

In [ ]:
# 고대제외 전공별 학생수 비율
stu_maj_count = pd.DataFrame(stu_info[stu_info['참가기간(시작)'] >= '2012-08-01']['전공'].value_counts())
stu_maj_per = pd.DataFrame(stu_info['전공'].value_counts(normalize=True))
stu_maj_df = stu_maj_count.merge(stu_maj_per, left_index=True, right_index=True)
stu_maj_df.columns = ['학생수', '비율']
stu_maj_df

In [ ]:
# 특정값 포함 행 찾기
stu_info[stu_info['지도교수'].isin(['김현성(Improving and/or re-engineering governance with digital technologies)'])]

## # '2012-08-01' 이 후 입학 학생 대상 지도교수별 학생수

In [ ]:
# '2012-08-01' 이 후 입학 학생 대상 지도교수별 학생수
stu_info['dum'] = 1
pd.DataFrame(stu_info.groupby(stu_info['지도교수'])['dum'].sum())

## 2017년 4월 현재 재학생 현황

In [ ]:
import datetime

In [ ]:
# stu_info = stu_info.copy[
stu_info[(stu_info['참가기간(시작)'] > datetime.datetime(2014, 8, 1)) & 
         (stu_info['참가기간(종료)'] < datetime.datetime(2017, 8, 1))]['성명']

## 교수별 논문심사현황

In [ ]:
thesis_exam = pd.read_excel("data/MUAP10기 논문심사위원.xlsx", sheet_name='Sheet1')

각 column에서 특정 값이 몇 번 쓰였는지 알고 싶다고 해보자.
가장 쉽게 해볼 수 있는 건 pandas의 value_counts 함수다.

  - df.apply(pd.value_counts).fillna(0).astype(int)

fillna(0)은 NaN이 보기 싫어서 설정해준 것이고, astype(int)은 소수점을 생략하려고 적용한다.

[출처: dataframe 내 data 빈도 세기] (http://blog.naver.com/PostView.nhn?blogId=nomadgee&logNo=220843687206&redirect=Dlog&widgetTypeCall=true)

In [ ]:
thesis_exam_committee = thesis_exam[['심사위원장','심사위원','지도교수']]
thesis_exam_committee_position_num = thesis_exam_committee.apply(pd.value_counts).fillna(0).astype(int)
thesis_exam_committee_num = pd.concat([thesis_exam_committee_position_num, 
                                       thesis_exam_committee_position_num.sum(axis=1)], 
                                      axis=1)

In [ ]:
thesis_exam_committee_num.rename(columns={0:'합계'})

#### 입시미지원국가 출신 동문 정보

In [ ]:
con_stu_info=stu_info[stu_info['국가_국문'].isin(['과테말라', '나이지리아', '라오스', '르완다', '리비아',
                                              '말레이지아', '몽골', '미얀마', '스리랑카', '시리아', 
                                              '아르헨티나', '아프카니스탄', '알제리', '에콰도르', 
                                              '에티오피아', '엘살바도르', '우간다', '우크라이나', 
                                              '인도네시아', '캄보디아', '케냐', '콩고', '터키', '파나마', 
                                              '폴란드', '필리핀']) == False]['국가_국문'].unique()

con_stu=stu_info[(stu_info['국가_국문'].isin(con_stu_info)) & (stu_info['연락처(자국)'] != '정보없음')][['전공', '수', '참가기간(시작)','성명', '국가', '국가_국문', '도시_국문', '성별', '소속', '직위', '이메일', '연락처(자국)']]


# 추출
con_stu.to_excel('Z:/02. 학생선발/2019입시/4.미완료자및미지원국가공지/190408_미지원국가출신동문연락처.xlsx')

#### mglep 국별 학생 현황 (영남대 포함)

In [ ]:
stu_info_mglep = pd.read_excel('Z:/200. 연락처/MGLEP학생현황(영남대포함).xlsx',
                         date_parser=['참가기간(시작)', '참가기간(종료)', '체류기간(시작)', '체류기간(종료)', '인턴십 기간(시작)', 
                                      '인턴십 기간(종료)', '인턴십 기간2(시작)', '인턴십 기간2(종료)', '인턴십 기간3(시작)', 
                                      '인턴십 기간3(종료)', '국외여행1-1', '국외여행1-2', '국외여행2-1', '국외여행2-2', '국외여행3-1', '국외여행3-2'])
# Z:/200. 연락처/IUDP학생현황.xlsx
stu_info_mglep.shape

In [ ]:
mglep_survey = pd.read_excel('data/MGLEP 초청자선발현황.xlsx', 
                    sheet_name='survey', header=0)

In [ ]:
mglep_survey['Country'] = mglep_survey['Country'].str.upper()

In [ ]:
mglep_survey_joinrate_country = \
pd.merge(pd.DataFrame(mglep_survey['Country'].value_counts().reset_index()), 
         pd.DataFrame(stu_info_mglep['국가'].value_counts().reset_index()), 
         left_on = 'index', right_on = 'index', how='outer')

In [ ]:
mglep_survey_joinrate_country = mglep_survey_joinrate_country[['index', '국가', 'Country']]
mglep_survey_joinrate_country.columns = [['국가', '연수생수', '설문참가자수']]
mglep_survey_joinrate_country

In [ ]:
con_stu_info=stu_info[stu_info['국가_국문'].isin(['과테말라', '나이지리아', '라오스', '르완다', '리비아',
                                              '말레이지아', '몽골', '미얀마', '스리랑카', '시리아', 
                                              '아르헨티나', '아프카니스탄', '알제리', '에콰도르', 
                                              '에티오피아', '엘살바도르', '우간다', '우크라이나', 
                                              '인도네시아', '캄보디아', '케냐', '콩고', '터키', '파나마', 
                                              '폴란드', '필리핀']) == False]['국가_국문'].unique()

con_stu=stu_info[(stu_info['국가_국문'].isin(con_stu_info)) & (stu_info['연락처(자국)'] != '정보없음')][['전공', '수', '참가기간(시작)','성명', '국가', '국가_국문', '도시_국문', '성별', '소속', '직위', '이메일', '연락처(자국)']]


# 추출
con_stu.to_excel('Z:/02. 학생선발/2019입시/4.미완료자및미지원국가공지/190408_미지원국가출신동문연락처.xlsx')

#### 전공별 / 국별 학생 현황

`stu_info.pivot_table(values=None, index=None, columns=None, aggfunc='mean',
                     fill_value=None, margins=False, dropna=True, 
                     margins_name='All')`

In [30]:
# 학생 합계 계산을 위해 stu_info['성명'] 모두 1로 변경
name = \
stu_info['성명'].replace(
                        r'^.', 1, regex = True
                        )
#stu_info['성명'].replace(stu_info[stu_info['성명'] != ""]['성명'], 1)와 동일한 결과

In [43]:
stu_info.pivot_table(values='성명', index='전공', columns='성별', aggfunc=np.sum)

성별,남,여
전공,,
MGLEP,Chi Duc TRANSo Phea NEAKIlvan TAUFANIFabian Ri...,Thuy Nhung TRANLeakhena SONGThi Hong Hieu BUIT...
MIPD,Resfaniarto INDRAKALaurent Patrice KALILIMayvi...,Dalila AFROZEDyah Lalita WIDYANARIEi Ei KhinGi...
MUAP,Gwo-Fang JienChadraabal OchirAltangerel Lkhagv...,Lin Yu-HsiuNgo Minh HoangMarta GoncalvesHuang ...
MURD,Silverio Paulo DE ROSA FREITASTahiriniaina And...,Laura LOZADA ACOSTAJacqueline Yamileth RIVERA ...

### 2014년 4월 현재 재학생 현황

In [96]:
# 2012년 8월 입학자 (o: MUAP, MGLEP, x: MURD, MIPD)
# 2013년 8월 입학자 (o: MUAP, MGLEP, MURD, MIPD)

stu_info.loc[
        (
            (stu_info['참가기간(시작)'] == '2012-08') & ((stu_info['전공'] == 'MUAP') | (stu_info['전공'] == 'MUAP'))
        )  | 
        (stu_info['참가기간(시작)'] == '2013-08')
                    ]['성명'].value_counts().sum()

35

### 2014년 10월 현재 재학생 현황

In [97]:
# 2012년 8월 입학자 (x: MUAP, MGLEP, MURD, MIPD)
# 2013년 8월 입학자 (o: MUAP, MGLEP, MURD, MIPD)
# 2014년 8월 입학자 (o: MUAP, MGLEP, MURD, MIPD)

stu_info.loc[
        (stu_info['참가기간(시작)'] == '2013-08')  | 
        (stu_info['참가기간(시작)'] == '2014-08')
                    ]['성명'].value_counts().sum()

60