<a href="https://colab.research.google.com/github/jgumin/jupyter-notebook/blob/master/snippet/snippet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [0]:
pip install plotly==4.1.1

In [0]:
# 노트북 안에서 그래프를 그리기 위해
%matplotlib inline
# %matplotlib nbagg
    
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = [10, 6]


# Suppress Deprecation and Incorrect Usage Warnings 
import warnings
warnings.filterwarnings('ignore')

# #  display two pandas tables side by side
# from IPython.display import display, HTML
# CSS = """
# .output {
#     flex-direction: row;
# }
# """
# HTML('<style>{}</style>'.format(CSS))


# 기본 글꼴 변경
import matplotlib as mpl
mpl.font_manager._rebuild()
mpl.pyplot.rc('font', family='NanumBarunGothic')

# allow multiple outputs
# from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "all"

# allow image input
from IPython.display import Image

In [0]:
# 그래프에서 한글표현을 위해 폰트를 설치합니다.
# %config InlineBackend.figure_format = 'retina'

# !apt -qq -y install fonts-nanum > /dev/null
# import matplotlib.font_manager as fm
# fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
# font = fm.FontProperties(fname=fontpath, size=9)

In [0]:
def configure_plotly_browser_state():
  import IPython
  display(IPython.core.display.HTML('''
        <script src="/static/components/requirejs/require.js"></script>
        <script>
          requirejs.config({
            paths: {
              base: '/static/base',
              plotly: 'https://cdn.plot.ly/plotly-latest.min.js?noext',
            },
          });
        </script>
        '''))

In [0]:
Image('https://i.stack.imgur.com/ScJfR.png')

# Library Importing(plotly 4.1.1)

In [0]:
from plotly import __version__
print (__version__)
import plotly
from plotly import tools
from plotly.subplots import make_subplots
import plotly.graph_objs as go
import plotly.figure_factory as ff

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell

# Jupyter setup
init_notebook_mode(connected=True)

import ipywidgets as widgets

# Library Importing(plotly 3.6.4)

In [0]:
from plotly import __version__
print (__version__)
import plotly
from plotly import tools
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

# Cufflinks wrapper on plotly
import cufflinks as cf

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell

# plotly + cufflinks in offline mode
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
cf.go_offline()

# set the global theme
cf.set_config_file(world_readable=True, theme='pearl', offline=True)

# Jupyter setup
init_notebook_mode(connected=True)

import ipywidgets as widgets

# plotly 테마 설정

theming 참고1: https://medium.com/plotly/introducing-plotly-py-theming-b644109ac9c7<br>
theming 참고2: https://nbviewer.jupyter.org/github/jonmmease/plotly.py_release_notebooks/blob/master/notebooks/v3.4.0/templates-gapminder.ipynb <br>
기본theme설정/해제 참고: https://plot.ly/python/templates/#specifying-a-default-themes

In [0]:
import plotly.io as pio
pio.templates.default = "plotly_white"

# fig = go.Figure(layout={
#     'title' : 'Figure Title',
#     'font' : {'size': 15, 'family': 'Courier'}
# })

# templated_fig = pio.to_templated(fig)
# pio.templates['large_courier'] = templated_fig.layout.template

# pio.templates.default = 'large_courier'

# github 엑셀 파일 불러오기

In [0]:
# Import package
from urllib.request import urlretrieve
import pandas as pd

# Assign url of file: url
url = 'https://github.com/jgumin/jupyter-notebook/raw/master/%EC%8B%A4%EC%8A%B5%EC%9E%90%EB%A3%8C-%EC%86%90%EC%97%90%EC%9E%A1%ED%9E%88%EB%8A%94%ED%8C%90%EB%8B%A4%EC%8A%A4/data/factory_reg_2018.xlsx'

# Save file locally
urlretrieve(url, 'factory_reg_2018.xlsx')

# Read file into a DataFrame and print its head
korea_2018 = pd.read_excel('factory_reg_2018.xlsx', index_col=0,
                           sheet_name=2,header=[3])

# 분석용 데이터 임포팅

In [0]:
# data import
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
movies = pd.read_csv('http://bit.ly/imdbratings')
orders = pd.read_csv('http://bit.ly/chiporders', sep='\t')
orders['item_price'] = orders.item_price.str.replace('$', '').astype('float')
stocks = pd.read_csv('http://bit.ly/smallstocks', parse_dates=['Date'])
titanic = pd.read_csv('http://bit.ly/kaggletrain')
ufo = pd.read_csv('http://bit.ly/uforeports', parse_dates=['Time'])

In [0]:
# Google Colab 에서 plotly 실행
def configure_plotly_browser_state():
  import IPython
  display(IPython.core.display.HTML('''
        <script src="/static/components/requirejs/require.js"></script>
        <script>
          requirejs.config({
            paths: {
              base: '/static/base',
              plotly: 'https://cdn.plot.ly/plotly-latest.min.js?noext',
            },
          });
        </script>
        '''))

configure_plotly_browser_state() # 매 셀마다 실행해야 함

In [0]:
stu_info = pd.read_excel(
    './data/IUDP학생현황.xlsx',date_parser=[
        '참가기간(시작)', '참가기간(종료)', '체류기간(시작)', 
        '체류기간(종료)', '인턴십 기간(시작)','인턴십 기간(종료)',
        '인턴십 기간2(시작)', '인턴십 기간2(종료)', '인턴십 기간3(시작)', 
        '인턴십 기간3(종료)', '국외여행1-1', '국외여행1-2', '국외여행2-1',
        '국외여행2-2', '국외여행3-1', '국외여행3-2'])
# parse_dates=True
# Z:/200. 연락처/IUDP학생현황.xlsx

airplane_info = pd.read_csv(
    '../실습자료-손에잡히는판다스/data/airplane_info.csv',engine='python')

In [0]:
Image("img/read_csv함수의 인수.png")

* from IPython.display import Image 패키지 실행
* code안 출력용: `Image("img/picture.png")` 를 code안에 넣고 실행
* markdown용: `![title](img/picture.png)`를 markdown안에 넣고 실행

# 기본

## 데이터프레임 편집
출처: https://github.com/justmarkham/pandas-videos/blob/master/top_25_pandas_tricks.ipynb#scrollTo=oYSvgYSE7s1_

### 데이터프레임 사이즈 축소 <br> 'usecols='' 로 필요한 열만 불러오기    <br>  'dtype='로 범주형 데이터 포함 object 데이터 타입열을 category 데이터 타입으로 변환

In [0]:
cols = ['beer_servings', 'continent']
dtypes = {'continent':'category'}
smaller_drinks = pd.read_csv('http://bit.ly/drinksbycountry', usecols=cols, dtype=dtypes)
smaller_drinks.info(memory_usage='deep')

### 복수파일의 데이터셋에서 단일 데이터프레임 생성(행방향): glob 패키지 사용 <br> stock_files = sorted(glob('data/stocks*.csv'));  pd.concat((pd.read_csv(file) for file in stock_files), ignore_index=True)

In [0]:
# data 폴더에 행과 열이 같은 stocks1.csv, stocks2.csv, stocks3.csv 이 있다고 가정
from glob import glob
stock_files = sorted(glob('data/stocks*.csv'))
pd.concat(
  (pd.read_csv(file) for file in stock_files), ignore_index=True
)

# 복수파일의 데이터셋에서 단일 데이터프레임 생성(열방향): glob 패키지 사용 <br> drink_files = sorted(glob('data/drinks*.csv'));  pd.concat((pd.read_csv(file) for file in drinks_files), axis='columns')

In [0]:
# data 폴더에 행이 같고 열이 다른 drinks1.csv, drinks2.csv, drinks3.csv 이 있다고 가정
from glob import glob
drink_files = sorted(glob('data/drinks*.csv'))
pd.concat(
  (pd.read_csv(file) for file in drinks_files), axis='columns'
)

### 클립보드로 데이터프레임 만들기 <br>  pd.read_clipboard()

In [0]:
df = pd.read_clipboard()
df

### 데이터프레임을 두 개의 랜덤 데이터셋으로 나누기 <br> subset1 = data.sample(frac=0.75, random_state=1234) <br> subset2 = movies.drop(subset1.index)

75%/25% 비율의 2개의 무작위 데이터 셋 만들기

In [0]:
movies = pd.read_csv('http://bit.ly/imdbratings')
len(movies)
movies_1 = movies.sample(frac=0.75, random_state=1234)
# 비율이 아닌 갯수로 샘플링할 땐, 'frac=' 대신 'n=갯수' 사용

In [0]:
movies_2 = movies.drop(movies_1.index)

### 다범주 데이터프레임 필터링 <br>  data[data.범주열.isin(['범주1', 범주2', '범주3'])]

In [0]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.genre.unique()

In [0]:
movies[movies.genre.isin(['Action', 'Drama', 'Western'])].head() # 또는

# movies[(movies.genre == 'Action') | 
#        (movies.genre == 'Drama') | 
#        (movies.genre == 'Western')].head()

### 갯수 많은 데이터순으로 필터링 <br>  data[data.범주열.isin(['범주1', 범주2', '범주3'])]

In [0]:
movies[
movies.genre.isin(
                  movies.genre.value_counts(
                  ).nlargest(3).index
                 )].head()

### 칼럼명의 문자열을 나눠 multiple 칼럼 생성  <br>  data.column.str.split(' ', expand=True)

In [0]:
df = pd.DataFrame({'name':['John Arthur Doe', 'Jane Ann Smith'],
                   'location':['Los Angeles, CA', 'Washington, DC']})
df

In [0]:
df[['first', 'middle', 'last']] = df.name.str.split(' ', expand=True)
df

In [0]:
df['city'] = df.location.str.split(', ', expand=True)[0]
df

### 리스트 값의 Series를 DataFrame으로 확장

In [0]:
df = pd.DataFrame({'col_one':['a', 'b', 'c'], 'col_two':[[10, 40], [20, 50], [30, 60]]})
df_new = df.col_two.apply(pd.Series)
pd.concat([df, df_new], axis='columns')

### 전체 값 중 null 값의 비율 <br> data.isna().mean()

In [0]:
titanic.isna().mean()

### 지정 된 % 미만의 null 값 가진 열 삭제 <br>  data.dropna(thresh=len(data)*0.9, axis='columns')

In [0]:
titanic.dropna(thresh=len(titanic)*0.9, axis='columns')

### 특정기술통계행, 특정열의 describe 정보보기<br> data.describe().loc['min':'max', 'Pclass':'Parch']

In [0]:
titanic.describe().loc['min':'max', 'Pclass':'Parch']

### 그룹화하는 열의 고유값별 가격 총합과 고유값별 개수 합계 동시 계산 <br> data.groupby('특정열').item_price.agg(['sum, 'count])

In [0]:
orders.groupby('order_id').item_price.agg(['sum', 'count'])

### 그룹화 된 행의 연산 수행 시 원본 데이터프레임 행의 수를 축소하지 않고 연산<br> data.groupby('특정열').item_price.transform('sum')

In [0]:
total_price = orders.groupby('order_id').item_price.transform('sum') # order_id 그룹별 item_price합계(이 때 행의 수가 축소되지 않음)
orders['total_price'] = total_price  # total_price 이름의 열을 생성하여 total_price 값을 넣음
orders['percent_of_total'] = orders.item_price / orders.total_price # 생성 된 total_price열과 item_price열을 활용 해 percent_of_total 연산하여 생상
orders.head()

### 데이터프레임 프로파일리포트 생성 <br> pandas_profiling.ProfileReport(data)

In [0]:
import pandas_profiling
pandas_profiling.ProfileReport(orders)

## 기타

### 인코딩 확인

In [0]:
import chardet

In [0]:
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

### 과학적 표기법

In [0]:
# 출처: https://financedata.github.io/posts/pandas-display-format.html

# 과학적 표기법(Scientific notation)을 사용하지 않는 경우
pd.options.display.float_format = '{:.2f}'.format

# 과학적 표기법(Scientific notation)
pd.set_option('display.float_format', '{:.2e}'.format)

pd.set_option('display.float_format', '{:.2f}'.format) # 항상 float 형식으로
pd.set_option('display.float_format', '{:.2e}'.format) # 항상 사이언티픽
pd.set_option('display.float_format', '${:.2g}'.format)  # 적당히 알아서

# 지정한 표기법을 원래 상태로 돌리려면 None을 지정
pd.set_option('display.float_format', None)

# 과학적 표기법으로 나오는 숫자를 일반형식으로 나오게 하는 법  <.str()>

In [0]:
np.set_printoptions(precisions=2)
np.set_printoptions(formatter={"float_kind": lambda x: "%g" % x})

#     반올림,올림,내림,정수화
ms["Percent"].round(2); np.ceil(ms["Percent"]), # np.floor() / np.trunc()

# 자리수 변경
ms["Percent"].apply(lambda x: "{0:0.2f}".format(x)),
ms["Percent"].apply(lambda x: "%0.2f" % x),

### 단어수세기

In [0]:
# 단어 수
petitions['title'].apply(lambda x: len(str(x).split()))
# 중복을 제거한 단어 수
petitions['title'].apply(lambda x: len(set(str(x).split())))

### .isin 항목의 없는 원소 추출

In [0]:
1. df[-df["column"].isin(["value"])]
2. df[~df["column"].isin(["value"])]
3. df[df["column"].isin(["value"]) == False]
4. df[np.logical_not(df["column"].isin(["value"]))]

### apply 변환

* 행이나 열 단위로 더 복잡한 처리를 하고 싶을 때는 사용
* 인수로 행 또는 열을 받는 함수를 apply 메서드의 인수로 넣으면 각 열(또는 행)을 반복하여 그 함수에 적용시킴

In [0]:
df3 = pd.DataFrame({
    'A': [1, 3, 4, 3, 4],
    'B': [2, 3, 1, 2, 3],
    'C': [1, 5, 2, 4, 4]
})

# 각 열의 최대값과 최소값의 차이를 구할 때
df3.apply(lambda x: x.max() - x.min())

# 각 행의 최대값과 최소값의 차이를 구할 때
df3.apply(lambda x: x.max() - x.min(), axis=1)

# 각 열에 대해 어떤 값이 얼마나 사용되었는지 확인할 때
df3.apply(pd.value_counts)

#NaN 값은 fillna 메서드로 원하는 값으로 변환하고,  astype 메서드로 전체 데이터 자료형 변환도 가능
df3.apply(pd.value_counts).fillna(0).astype(int)

# 주제별 정리

## null값 (누락값) 처리

### 특정 열에 null 있는지 여부만 확인<br>Series.hasnans

In [0]:
airplane_info['총정원'].hasnans

### 특정열의 각 원소 null 여부 boolean 반환 <br> np.isnan(Series)

In [0]:
np.isnan(airplane_info['총정원']) 
# = airplane_info['총정원'].apply(np.isnan)

### null값 제외<br>Series[Series != 'nan']<br>Series[np.logical_not(Series == 'nan')] <br> Series[-(Series == 'nan')] <br> Series[~(Series == 'nan')] <br> Series[(Series == 'nan') == False]

In [0]:
s[s != 'nan']

### null값 있는 행 또는 열 삭제  <br> data.dropna(axis=0, how='any', thresh=None(임계값,int), subset=None(array-like), inplace=False)

*Series.dropna 의 경우, Series 전체 아닌 null 값만 삭제*

In [0]:
airplane_info['총정원'].tail(3)

In [0]:
airplane_info.dropna(axis=1)

### null값 개수 확인 <br> <Series[Series != 'nan'].value_counts()>

In [0]:
s[s != 'nan'].value_counts()

### null값 위치를 고정하고 sorting <br> <.sort_values(by='a', na_position='last')>

In [0]:
df.sort_values(by='a', na_position='last') # na_position='first'

### null 값 포함해 연산(합계) <br><df.sum(skipna=False)>

In [0]:
df.sum(skipna=False)

### null값 다른 값으로 변경 <br> <.fillna('대체할값')>

`s.fillna['value=None', 'method=None', 'axis=None', 'inplace=False', 'limit=None', 'downcast=None']`

* value: null값을 대체할 값. dict 형태로 행 또는 열마다의 대체값 별도 지정 가능
* method:
    * null값 발생 전 값으로 변경: 'ffill(or pad')
    * null값 발생 후 값으로 변경: 'bfill(or backfill')
* axis: 데이터프레임에서  null 값을 채우는 기준 방향으로  0은 행방향, 1은 열방향
* inplace: True 는 null 값을 대체한 결과값으로 데이터프레임 변경
* limit: method를 연속적으로 수행하는 최대수
* downcast: 데이터타입 변경

In [0]:
import numpy as np
import pandas as pd
s = pd.Series([0, 1, np.nan, 3])

In [0]:
s.fillna('No')
s.fillna(method='pad')
s.fillna(method='bfill')
stu_info.fillna(" ", axis=1, inplace=True)

In [0]:
stu_info_pre = \
stu_info.fillna(
    {'국외여행합계': 0, 
     '논문평점': stu_info.loc[stu_info['논문평점'] != np.nan, '논문평점'].mean(),
     '자국내 주소': stu_info['국가']}
).replace({'자국내 주소':'정보없음'}, {'자국내 주소': stu_info['국가']})
# '국외여행합계' 열의 null값은 0, 
#'논문평점' 열의 null값은 '논문평점' 열의 값이 있는 경우의 점수들의 평균
# '자국내 주소' 열의 null값은 '국가' 열의 값

stu_info_pre. to_excel("C:/Users/Gumin JUNG/Desktop/IUDP학생현황.xlsx", sheet_name="IUDPinfo")

### 각 열 내 null값을 가진 셀의 합들의 합 <br> <stu_info.isnull().sum().sum()>

`stu_info.isnull().sum().sum()`

In [0]:
stu_info.isnull().sum().sum()

### null값 다른 값으로 변경 (.pivot_table에서) <br><.pivot_table(values='Series', index='Series', columns='Series', fill_value = '대체할값')>

In [0]:
petitions[petitions['votes'] > 200000].pivot_table(values='answered', 
  index='category', columns='duration', fill_value= 0)

### null값 보간처리 <.interpolate()>

처리방법: 전,후값의 평균값 / 후값이 없을 경우, 전값 그대로 반환

In [0]:
s = pd.Series([0, 1, np.nan, 3])
s.interpolate()

In [0]:
airplane_info = pd.read_csv('C:/Users/Gumin JUNG/OneDrive - 서울시립대학교/jupyter_notebook/실습자료-손에잡히는판다스/data/airplane_info.csv',
                            engine='python')
airplane_info['총정원'].tail(3)

In [0]:
airplane_info['총정원_보간'] = airplane_info['총정원'].interpolate()
airplane_info[['총정원', '총정원_보간']][2105:2109]

### 특정열의 각 원소 null 여부 boolean 반환 <br><np.isnan(Series) or Series.apply(np.isnan)> (특정 열 null 값 있는지 여부만 확인할 때는  Series.hasnans)

In [0]:
np.isnan(airplane_info['총정원'])
# = airplane_info['총정원'].apply(np.isnan) 
# = airplane_info['총정원'].isnull()

### null값이 아닌 값의 칼럼별 개수 <.count()>

In [0]:
airplane_info.count()

### null값의 칼럼별 개수 <.isnull().sum()>

In [0]:
airplane_info.isnull().sum()

### null 아닌 값의 칼럼별 개수 <.notnull().sum()>

In [0]:
airplane_info.notnull().sum()

### null값의 칼럼별 개수의 합계 <.isnull().sum().sum()>

In [0]:
airplane_info.isnull().sum().sum()

### value_counts메소드에서 null값 빈도 표시 <.value_counts(dropna=False)>

In [0]:
flight_route_info['비고'].value_counts(dropna=False).head()

### 특정열 null값 삭제 (index속성을 사용) <Series.index[Series.apply(np.isnan)]>

In [0]:
index_nan = airplane_info['총정원'].index[
            airplane_info['총정원'].apply(np.isnan)]

In [0]:
airplane_info.drop(index=index_nan)

### null값을 다른 열의 null값으로 대체 <br> <df.loc[df[A].isnull(),A] = df.loc[df[A].isnull(),B]>
##### A = null값 있는 열, B = null 값 대체할 값 가진 열

In [0]:
import pandas as pd
import numpy as np
airplane = pd.read_csv('C:/Users/Gumin JUNG/OneDrive - 서울시립대학교/jupyter_notebook/실습자료-손에잡히는판다스/data/airplane_info.csv', 
                       engine='python')

In [0]:
airplane.loc[airplane['총정원'].isnull(),'총정원'] = airplane.loc[airplane['총정원'].isnull(),'정원_Y']

## 중복값 처리

### 중복값 여부 확인 <.duplicated(subset=None(column label or sequence of labels, keep='first')>

subset : 중복값 확인 시 고려되는 열 <br>
keep='first' : 중복이면 중복의 첫번째 값 duplicated 여부를 False로 반환<br>
keep='last' : 중복이면 중복의 마지막 값 duplicated 여부를 False로 반환<br>
keep=False : 중복이면 무조건 True 반환(나중에 drop_duplicates() 에서 keep 할 생각이 없다는 뜻)

In [0]:
iris = sns.load_dataset('iris')

In [0]:
iris.head()

In [0]:
iris.duplicated(subset=['petal_length', 'petal_width']).head()

#### 중복값의 칼럼별 개수 <.duplicated().sum()>

In [0]:
iris.duplicated(subset=['petal_length', 'petal_width']).sum()

### 중복된 열의 정보 삭제 <series.drop_duplicates()>

In [0]:
iris['species'].unique()

In [0]:
iris['species'].drop_duplicates()

## 문자열 처리

### 한 셀에 ','로 구분 된 문자열 내용 분리하기

In [0]:
mcq['LearningPlatformSelect'] = \
mcq['LearningPlatformSelect'].astype('str').apply(lambda x: x.split(','))
s = mcq.apply(
    lambda x: pd.Series(x['LearningPlatformSelect']),
    axis=1).stack().reset_index(level=1, drop=True)
s.name = 'platform'

### 문자열 나누기 <br> Series.str.split('나누는기준문자')

In [0]:
ss = pd.Series(['가_나_다', '라_마_바', np.nan, '사_아_자'])

In [0]:
ss.str.split('_')

### 문자열 나눈 후 가져오기 <br> Series.str.split.get(가져올 문자열 번호) (or str[가져올 문자열 번호])

In [0]:
ss.str.split('_').str.get(1) # = ss.str.split('_').str[1]

### 문자열 가져오기 <br> Series.str.get(가져올 문자열 번호) (or str[가져올 문자열 번호])

In [0]:
# ss.get(0) # '가_나_다'
ss.str.get(0) # =ss.str[0]

### 문자열 나눈 후 데이터프레임 생성 <br> Series.str.split('나누는기준문자', expand=True, n=리스트에서 분리해 낼 원소수)

In [0]:
ss.str.split('_', expand=True) #: 분리 후 리스트 원소를 각 열의 값으로 보내 데이터프레임 생성

In [0]:
ss.str.split('_', expand=True, n=1)

In [0]:
ss.str.rsplit('_', expand=True, n=1)
# 오른쪽 기준으로 데이터프레임 만들기 때문에 왼쪽 열의 값을 마지막 열의 값이 처리한 나머지 보관 해 처리

### 문자열 대체 <br>Series.str.replace("현재str", "대체str")

In [0]:
ss.str.replace('_', '%') # : 대체값 처리

### 열내용을 대문자로 변환<br> Series.apply(str.upper)

In [0]:
cars.loc[:, 'COUNTRY'] = cars.loc[:, 'country'].apply(str.upper)
[출처] Dictionary 자료구조와 Pandas 라이브러리|작성자 Gauss

### 리스트/Dict/Series/정규식/실수 대체 <br>Series.replace(to_replace=['남', '여'], value=1)

`df.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad'): Replace values given in to_replace with value.`

In [0]:
stu_info['성별'].replace({'남':1, '여':2}) # '남'은 1, '여'는 2로 대체
#stu_info['성별'].replace(['남', '여'], 1) # '남','여' 모두 1로 대체

In [0]:
stu_info['성명'].replace(r'^.',1, regex=True) #모든 문자 1로 변경
# r: 정규식 명령시작, ^: 시작문자, $: 끝문자, .: 모든문자

In [0]:
stu_info.replace({'성명': r'^S..', '전공': r'...P$'}, 
                 {'성명': 'rao', '전공': 'SEP'}, regex=True)
# '성명'열에서 S로 시작하는 세 문자 는 rao 로, 
# '전공'열에서 P로 끝나는 문자열의 P포함한 직전 세 문자 는 SEP 으로 변경

### 문자열 통합 <br>Series.str.cat(sep='연결구분자')

In [0]:
ss.str.cat(sep=',') #: 문자열 통합,  sep=',' - 연결시 사용되는 구분자

In [0]:
ss.str.cat() # : 구분자 없으면 주어진 문자열로 처리

In [0]:
ss.str.cat(['A', 'B', 'C', 'D']) # : 새인자 추가 해 붙이기

### 시리즈를 리스트로 변환 <br>Series.tolist

In [0]:
op_eq_list = op_eq['member'].tolist

### 특정 문자열 포함한 행에 대한 데이터프레임 추출 <br> data.loc[Series.str.contains('str')]

In [0]:
question.loc[question['Column'].str.contains('LearningCategory')]

### DataFrame 내 자료형별 열 개수 구하기 <br> data.get_dtype_counts()

In [0]:
college.get_dtype_counts()

### 특정 자료형 열추출 <br>data.select_dtypes(include=['자료형'])

In [0]:
# int64 dtype열만 불러오기
college.select_dtypes(include=['int64']).head()
# 숫자형 dtype열만 불러오기 (np.number = 'number' 동일)
college.select_dtypes(include=['number']).head()
# 법주형 dtype열만 불러오기 (np.object = 'object' 동일)
college.select_dtypes(include=['object']).head()

### 자릿수 구분된 숫자의 쉼표제거 <br>for i in range(0,18) :<br>----a = data.iloc[i].str.replace(',','')<br>----data.iloc[i] = a

출처: https://github.com/jgumin/jupyter-notebook/blob/master/실습자료-손에잡히는판다스/6장 예제/6장 2.ipynb

In [0]:
for i in range(0,18) :
    a = korea_pop.iloc[i].str.replace(',','')
    korea_pop.iloc[i] = a

### '-'표시 null값을 실제 null값으로 변경 : '-'을 'NaN'으로 변경 후 dtype은 float로 변환 <br>for i in range(0,18) :<br>----a = data.iloc[i].str.replace('-','NaN')<br>----data.iloc[i] = a<br>korea_pop = korea_pop.astype('float64')

출처: https://github.com/jgumin/jupyter-notebook/blob/master/실습자료-손에잡히는판다스/6장 예제/6장 2.ipynb

In [0]:
for i in range(0,18) :
    a = korea_pop.iloc[i].str.replace(',','')
    korea_pop.iloc[i] = a

## index값 처리

### 내부 구성 값 크기별 정렬 <br> Series.nlargest(숫자), Series.nsmallest(숫자)

In [0]:
# 평균등록금 상위 5개 내림차순 정렬
college['평균등록금'].nlargest(5)
# 평균등록금 하위 5개 오름차순 정렬
college['평균등록금'].nsmallest(5)
# college DataFrame을 평균등록금 기준 상위 5개 내림차순 정렬
college.nlargest(5,'평균등록금')
# college DataFrame을 평균등록금 기준 하위 5개 오름차순 정렬
college.nsmallest(5,'평균등록금')

### 임계치 지정 해 값 변환 <br> Series.clip(lower=숫자, upper=숫자)

In [0]:
df["A"].clip(lower=2, upper=8)

### 실수 값을 카테고리 값으로 변환 <br> pd.cut(data, bins, labels=[]) / pd.qcut(data, 범주수, labels=[]>

* 실수 값을 크기 기준으로 하여 카테고리 값으로 변환할 때 사용
* cut: 실수 값의 경계선 지정
* qcut: 실수 값의 경계선 미지정, 갯수가 똑같은 구간으로 나눔

In [0]:
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 100]
bins = [1, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
cats = pd.cut(ages, bins, labels=labels)
cats
# cut 명령이 반환하는 값은 Categorical 클래스 객체 
# cat.categories 속성으로 라벨 문자열, cat.codes 속성으로 정수로 인코딩한 카테고리 값 가짐

df4 = pd.DataFrame(ages, columns=["ages"])
df4["age_cat"] = pd.cut(df4["ages"], bins, labels=labels)
df4

In [0]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4, labels=["Q1", "Q2", "Q3", "Q4"])
cats
pd.value_counts(cats)

### 특정 컬럼과 특정 인덱스 동시 삭제 <br>data.drop(columns=df.filter().columns, index=[]

In [0]:
# m 또는 y또는 o 로 시작하는 컬럼과, 0,1,2 인덱스 삭제
df.drop(columns=df.filter(regex='^[myo]').columns, index=[0,1,2])

### 행 위치 이동  <br> data.shift(이동할행[인덱스]숫자, , freq="시간단위인수")

`ts.shift(1, freq="W")`

* 결측치 처리 시 주로 사용
* 시계열 인덱스 이동 시에도 사용

In [0]:
df2['b'].shift(2)

In [0]:
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "20180101", periods=4, freq="M"))
ts.shift(1, freq="W")  
# 시계열 인덱스에서 freq로 단위 지정 해 인덱스 이동 가능
# 첫번째 값의 인덱스가 다음(1) 주 일요일(W)만큼 앞당겨 짐

### 특정기준으로 몇 번째 값인지 보여 줌  <br> data.rank(method=기준이 되는 연산, pct=True)

In [0]:
df["model_year"].rank(method='dense', pct=True) # method='min', 'first', 'dense'

### data.groupby연산결과가 Series일 때 DataFrame으로 추출 <br>data.groupby(Series, as_index=False)[값Series].sum()

In [0]:
df.groupby("Team", as_index=False)["Points"].sum()

### MultiIndex DataFrame에서 index레벨 변경 <br> <.swaplevel(i=-2, j=-1, copy=True)>

In [0]:
import pandas as pd
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(ipl_data)

In [0]:
h_index = df.groupby(["Team", "Year"])["Points"].sum()
h_index
h_index.swaplevel(i=-2, j=-1, copy=True)

### MultiIndex DataFrame에서 index 정렬 <br> data.sort_index(level=0)

In [0]:
h_index.swaplevel().sort_index(level=0)

## 병합처리 (sql 조인문과 비교)

In [0]:
df1 = pd.DataFrame({'키': ['봄', '여름', '가을', '겨울'],
                    '값': np.random.randn(4)})
df2 = pd.DataFrame({'키': ['여름', '겨울', '겨울', '기타'],
                   '값': np.random.randn(4)})

### INNER 조인 처리 <br> pd.merge(df1, df2, on='키')

SELECT *
FROM df1
INNER JOIN df2
  ON df1.key = df2.key;

In [0]:
pd.merge(df1, df2, on='키') 
#키 값이 인덱스인 경우
pd.merge(df1, df2, left_index=True, right_index=True)

### LEFT 조인 처리 <br> pd.merge(df1, df2, on='키', how='left')
* 왼쪽에 있는 키를 기준으로 처리하므로, 오른쪽 테이블에 없으면 빈 값 표시
*
SELECT *
FROM df1
LEFT OUTER JOIN df2
  ON df1.key = df2.key;

In [0]:
pd.merge(df1, df2, on='키', how='left')

### RIGHT 조인 처리 <br> pd.merge(df1, df2, on='키', how='right')
* 오른쪽에 있는 키를 기준으로 처리하므로, 왼쪽 테이블에 없으면 빈 값 표시
* 
SELECT *
FROM df1
RIGHT OUTER JOIN df2
  ON df1.key = df2.key;

In [0]:
pd.merge(df1, df2, on='키', how='right')

### FULL OUTER 조인 처리 <br> pd.merge(df1, df2, on='키', how='outer')
* 전체의 키를 전부 표시하므로, 모든 조인의 결과값 표시
* 
SELECT *
FROM df1
FULL OUTER JOIN df2
  ON df1.key = df2.key;

In [0]:
pd.merge(df1, df2, on='키', how='outer')

### UNION ALL 처리 <br> pd.concat([df1, df2])
* 두 개의 테이블이 특정 열들 선택 후, 두 개를 동일하게 연결 시 사용
* 
SELECT city, rank
FROM df1
UNION ALL
SELECT city, rank
FROM df2;

In [0]:
pd.concat([df1, df2])

### UNION 처리 <br> pd.concat([df1, df2])
* 두 개의 테이블이 특정 열들 선택 후, 두 개를 동일하게 연결 시 사용. 중복 삭제.
* 
SELECT city, rank
FROM df1
UNION
SELECT city, rank
FROM df2;

In [0]:
df2.loc[1] = df1.loc[3]
pd.concat([df1, df2]).drop_duplicates()

## sql 문장(s)과 판다스 처리(p) 비교

In [0]:
# Import package
from urllib.request import urlretrieve
import pandas as pd

# Assign url of file: url
url = 'https://github.com/jgumin/jupyter-notebook/raw/master/%EC%8B%A4%EC%8A%B5%EC%9E%90%EB%A3%8C-%EC%86%90%EC%97%90%EC%9E%A1%ED%9E%88%EB%8A%94%ED%8C%90%EB%8B%A4%EC%8A%A4/data/factory_reg_2018.xlsx'

# Save file locally
urlretrieve(url, 'factory_reg_2018.xlsx')

# Read file into a DataFrame and print its head
korea_2018 = pd.read_excel('factory_reg_2018.xlsx', index_col=0,
                           sheet_name=2,header=[3])

### (s)Select 문장에서 특정 테이블의 열 가지고 처리 == (p)인덱스 검색에서 팬시 검색으로 특정 열 선택처리

SELECT 서울, 인천, 대전 
FROM korea_2018
LIMIT 5;

In [0]:
korea_2018[['서울', '인천', '대전']].head(5)

### (s)특정 조건 where에 주기 == (p)판다스 논리식 검색

SELECT *
FROM korea_2018
WHERE 서울 = 41
LIMIT 5;

In [0]:
korea_2018[korea_2018['서울'] == 41 ].head(5)

### (s)특정 조건 where문 2개 이상 조건 == (p)판다스 논리식 검색도 2개 이상 조건

SELECT *
FROM korea_2018
WHERE 서울 < 41 & 제주 > 5
LIMIT 5;

In [0]:
korea_2018[(korea_2018['서울'] < 41) &  (korea_2018['제주'] > 0)].head()

## 조건절처리 메소드(data.where, data.mask, data.take)

In [0]:
# Import package
from urllib.request import urlretrieve
import pandas as pd

# Assign url of file: url
url = 'https://github.com/jgumin/jupyter-notebook/raw/master/%EC%8B%A4%EC%8A%B5%EC%9E%90%EB%A3%8C-%EC%86%90%EC%97%90%EC%9E%A1%ED%9E%88%EB%8A%94%ED%8C%90%EB%8B%A4%EC%8A%A4/data/factory_reg_2018.xlsx'

# Save file locally
urlretrieve(url, 'factory_reg_2018.xlsx')

# Read file into a DataFrame and print its head
korea_2018 = pd.read_excel('factory_reg_2018.xlsx', index_col=0,
                           sheet_name=2,header=[3])

### 조건결과에 따라 값표시하기 <br> data.where(조건, [NaN대체할값]), data.mask(조건, [NaN대체할값])

In [0]:
korea_2018.where(korea_2018['서울'] < 30).head() # 조건이 참인 경우, 값표시하고 나머지는 NaN으로 표시

In [0]:
korea_2018.where(korea_2018['서울'] < 30, 0.0).head() # 조건이 참인 경우, 값표시하고 나머지는 0.0으로 표시

In [0]:
korea_2018.mask(korea_2018['서울'] < 30).head() # 조건이 거짓인 경우, 값표시하고 나머지는 NaN으로 표시

In [0]:
korea_2018.mask(korea_2018['서울'] < 30, 0.0).head() # 조건이 거짓인 경우, 값표시하고 나머지는 0.0으로 표시

### 특정행 또는 열추출 <br> data.take([(행또는열)포지션0,포지션1,포지션n], axis=0(또는1))

In [0]:
korea_2018.take([0,5],axis=1) # 0,5번째 열 추출

## 특정 값,위치 검색

### 특정 행/열 레이블로 하나의 원소 변경<br> data.at[1, '기종'] = 'A320-3xx'<br>data.at[[1, 2], '기종'] = 'A320-0xx'

*'1'행 '기종'열 값을 'A320-3xx' 으로 변경*<br>
*'1,2'행 '기종'열 값을 'A320-0xx' 으로 변경*

In [0]:
airplane_info.at[1, '기종'] = 'A320-3xx'
airplane_info.at[[1, 2], '기종'] = 'A320-0xx'
airplane_info.head(3)

### 특정열에서 특정문자 포함한 값 찾기 <br> Series.str.contains('찾는문자')

In [0]:
question['Column'].str.contains('LearningCategory')

### 특정열에서 특정값 찾기 <br> <Series.isin(['특정값1, 특정값n'])>

In [0]:
question['Column'].str.contains('LearningCategory')

### 특정 열 내 특정 값 포함한 data추출(리스트 변수넣기; 조건절에 변수넣기; 다중조건처리하기) <br> data.query('검색대상열 == 검색대상값')

In [0]:
# Import package
from urllib.request import urlretrieve
import pandas as pd

# Assign url of file: url
url = 'https://github.com/jgumin/jupyter-notebook/raw/master/%EC%8B%A4%EC%8A%B5%EC%9E%90%EB%A3%8C-%EC%86%90%EC%97%90%EC%9E%A1%ED%9E%88%EB%8A%94%ED%8C%90%EB%8B%A4%EC%8A%A4/data/factory_reg_2018.xlsx'

# Save file locally
urlretrieve(url, 'factory_reg_2018.xlsx')

# Read file into a DataFrame and print its head
korea_2018 = pd.read_excel('factory_reg_2018.xlsx', index_col=0,
                           sheet_name=2,header=[3])

In [0]:
korea_2018.query('서울 >=10 & 서울 <= 20')[['서울']] #다중조건처리. & 대신 and 사용 가능

In [0]:
#조건절 변수로 처리
# query 메소드에서 외부변수 참조시, @기호+변수명 사용
mm = 10; nn = 20
qs1 = "@mm <= 서울 <= @nn " 
korea_2018.query(qs1)[['서울']]

In [0]:
#다중값 확인을 위해 리스트 값을 갖는 변수 처리
ll = [11,12]
qs2 = "@ll == 서울" # == 대신 in 으로도 사용 가능
korea_2018.query(qs2)[['서울']]

### 특정 행열 위치 값 변경 <br> data.set_value('행명', '열명', '대체할값')

In [0]:
airplane.set_value(100, '총정원', 180)

### 특정 값 행렬위치로 검색 <br> data.lookup([행레이블1,행레이블n],[열레이블1, 열레이블n])>

In [0]:
diamonds = sns.load_dataset('diamonds')
diamonds.lookup([3,0],['clarity', 'depth'])

### 특정 행렬위치 레이블로 열 또는 데이터프레임 반환 <br><.xs(행[열]레이블, axis=0, level=None[반환수준], drop_level=True[False:동일수준반환])>

In [0]:
df = pd.DataFrame({'A':[4, 4, 9], 'B':[5, 0, 7], 'C':[2, 9, 3]}, 
                  index=['a','b','c'])
print(df.xs('a'))
print(df.xs('C', axis=1))

### 멀티인덱스 검색으로  열 또는 데이터프레임 반환 <br><.xs((행[열]레이블 1, 행[열]레이블 n), axis=0)>

`np.round(a, decimals=0, out=None)` <br>
 `study_data.xs(('지원','컴공'), axis=1)`

In [0]:
r_inx = pd.MultiIndex.from_product(
    [[2017,2018],[1,2]], names=['년도','과제점수'])
c_inx =  pd.MultiIndex.from_product(
    [['철수','영희', '지원'],['컴공', '경제']], names=['학생', '학과'])
data = np.round(np.abs(np.random.randn(4,6)),1)
study_data = pd.DataFrame(data, index=r_inx, columns=c_inx)

study_data.xs((2017,1)) # '년도','과제점수' 에서 두 번째 레벨에 맞춰 처리 
study_data.xs(('지원','컴공'), axis=1) # 열 단위 처리를 위해선 axis=1 추가

### 특정범위 내 특정 값 있는 경우, 불리언값 반환 <br> <.between(시작값,종료값)>

In [0]:
mask = airplane['총정원'].between(1,120)

### 특정열을 범주화한 열 생성하기 <br><df[생성열] = pd.Categorical(np.where(조건, True일때범주명, False일때범주명)>

In [0]:
airplane['category_R'] = ""

In [0]:
airplane['category_R']= pd.Categorical(np.where(mask,'소형', '중형'))

## Groupby 활용

`groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)`

* by : mapping, function, str, or iterable
* axis : int, default 0
* level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels
* as_index : For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output
* sort : Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. groupby preserves the order of rows within each group.
* group_keys : When calling apply, add group keys to index to identify pieces
* squeeze : Reduce the dimensionality of the return type if possible, otherwise return a consistent type

`Groupby에 자주 이용되는 함수`

* size, count: 갯수
* mean, median, min, max: 평균, 중앙값, 최소, 최대
* sum, prod, std, var, quantile : 합계, 곱, 표준편차, 분산, 사분위수
* first, last: 그룹 데이터 가장 첫번째 데이터와 가장 나중 데이터
* agg, aggregate
    * 사용자함수를 만들고 agg에 전달 가능
    * 여러 그룹연산 동시수행할 경우, 함수 이름 문자열의 리스트를 agg에 전달
* describe: 하나의 그룹 대표값이 아닌 여러개 값을 데이터프레임으로 구함
* apply: 하나의 대표값이 아닌 데이터프레임 출력. 원하는 그룹연산 없는 경우 사용
* transform: 그룹 대표값 아닌 그룹별 계산으로 데이터 자체를 변형

### Groupby 에 의해 split 된 정보 추출 <br> <df.groupby(Series)>

In [0]:
import pandas as pd 
import numpy as np

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(ipl_data)

In [0]:
name_group = df.groupby("Team")

In [0]:
for name, group in name_group: 
    print(name)
    print(group)
# 그룹화 객체로 for ~ in 실행하면 
# 그룹화 된 Series값이 name / 해당 Series의 나머지 데이터가 group으로 추출

### grouped_Series의 group별 key값, 특정 group의 index 및 데이터프레임 추출 <br>  <.groups.keys()  / .groups["특정그룹의key"]  /  .get_group("특정그룹의key")  /  .first()>

GroupBy 클래스 객체에는 각 그룹 데이터의 인덱스를 저장한 groups 속성 활용

`df.groupby("Team").groups.keys()`: group별  key 값

`df.groupby("Team").groups["특정그룹의key"]`: 특정 group index

`df.groupby("Team").get_group("특정그룹의key")`: 특정 group df

`df.groupby("Team").first()`: group별 1번째 값

In [0]:
df.groupby("Team").groups

df.groupby("Team").groups.keys()
df.groupby("Team").groups["Riders"]
df.groupby("Team").get_group("Riders")
df.groupby("Team").first()

### groupby 객체 연산을 pivot형태로 변경 <br>  <df.groupby("Team").연산().unstack()>

`df.groupby("Team").mean().unstack()`

In [0]:
df.groupby(["Team", "Year"])["Points"].mean().unstack()

### grouped_Series에 apply - .agg(), .transform(), .filter()

***.agg()***:
* 요약된 통계정보 추출
* 특정 컬럼에 여러개의 function을 Apply 가능

In [0]:
df.groupby("Team").agg(sum) # sum대신 'sum', 'np.sum' 가능
df.groupby("Team").agg(np.mean) # np.mean대신 'mean' 가능

In [0]:
df.groupby(["Team"]).agg([sum, 'mean', np.std])
df.groupby(["Team"]).agg(
    {"Points":sum, "Rank":min, "Year":"count"}) # groupby대상이 인덱스가 됨
df.groupby(["Team"], as_index=False).agg(
    {"Points":sum, "Rank":min, "Year":"count"}) # groupby대상이 인덱스되지 않음

In [0]:
df.groupby(["Team"]).agg(
    {"Points": [min, max, sum],
     "Rank":"count", 
     "Year":["first", "unique","nunique"]})

![pandas_aggregation-1140x456](https://shanelynnwebsite-mid9n9g1q9y8tt.netdna-ssl.com/wp-content/uploads/2016/03/pandas_aggregation-1140x456.png)

***.transform()***: 
* Aggregation과 달리 key값 별로 요약된 정보가 아님
* 개별 데이터의 변환을 지원함
* max 나 min 처럼 Series 데이터에 적용되는 데이터들은 key 값을 기준으로 Grouped 된 데이터 기준

In [0]:
df.groupby(["Team"]).agg(np.mean)
df.groupby(["Team"]).transform(np.mean)

***.filter()***: 
* 특정 조건으로 데이터를 검색할 때 사용
* filter 안에는 boolen 조건이 존재해야함
* len(x)는 grouped된 dataframe 개수

In [0]:
df.groupby(["Team"]).agg(lambda x: len(x) >= 3)
df.groupby(["Team"]).filter(lambda x: len(x) >= 3)

### grouped_Series의 기본 연산 <br> <df.groupby("Team").연산메소드(level=연산의 기준이 되는 Series 번호)>

In [0]:
h_index = df.groupby(["Team", "Year", "Rank"])["Points"].sum()

In [0]:
h_index.sum(level=1)

### grouped_Series의 index 레벨 변경 <br><grouped_Series.연산메소드().swaplevel((i=-2, j=-1, copy=True): 멀티인덱스 i와 j 간 레벨변경

In [0]:
h_index; h_index.swaplevel(0,2, copy=True)

### grouped_Series 연산을 돕는 Multiindex정리방법 1: <br>droplevel(level=0): 대상Index레벨낮춤

In [0]:
grouped = df.groupby("Team").agg({"Points": [sum, 'mean', np.std]})
grouped.columns = grouped.columns.droplevel(level=0)
grouped = grouped.rename(columns={
    "sum": "Points_sum", "mean": "Points_mean", "std": "Points_std"
})
grouped.head()

### grouped_Series 연산을 돕는 Multiindex정리방법 2: <br>ravel(): MultiIndex를 단순배열로 변경

In [0]:
grouped = df.groupby("Team").agg({"Points": [sum, 'mean', np.std]})
grouped.columns = ["_".join(x) for x in grouped.columns.ravel()]
grouped.head()

### grouped_Series의 index 기준으로 정렬 <br><grouped_Series.연산메소드().sort_index(level=정렬의 기준이 되는 Series 번호)>

In [0]:
h_index.sort_index(level=1)

## sql 문장(s)과 그룹화 처리(gr) 비교

In [0]:
book_data = pd.read_csv("https://raw.githubusercontent.com/jgumin/jupyter-notebook/master/%EC%8B%A4%EC%8A%B5%EC%9E%90%EB%A3%8C-%EC%86%90%EC%97%90%EC%9E%A1%ED%9E%88%EB%8A%94%ED%8C%90%EB%8B%A4%EC%8A%A4/data/book_data.csv",
                        engine='python')

### 특정 열을 기준으로 그룹화해 내부의 개수 확인

* book_date열의 size로 결과 보여주나, count로 처리하면 전체 열정보가 보여 다른 결과로 나옴
* 그러나 특정열을 지정해 count로 처리하면 하나의 결과만 나옴

SELECT book_date, count(*)
FROM book_data
GROUP BY book_date;

In [0]:
book_data.groupby('book_date').size().head()

In [0]:
book_data.groupby('book_date').count().head()

In [0]:
book_data.groupby('book_date')['sales_point'].count().head()

### 특정하여 그룹으로 묶고 평균과 개수를 처리

SELECT book_date, AVG('sales_point'), COUNT(*)
FROM book_data
GROUP BY book_date;

In [0]:
import numpy as np

In [0]:
book_data.groupby('book_date').agg({'sales_point': np.mean, 
                                    'book_date': np.size}).head()

### 두 개의 열을 그룹으로 묶고 두 개의 열과 함수를 실행

SELECT book_date,book_cover, COUNT(*), AVG(sales_point)
FROM book_data
GROUP BY book_date,book_cover;

In [0]:
book_data.groupby(['book_date','book_cover']).agg({'sales_point': [np.size, np.mean]}).head()

                      sales_point
                             size     mean
book_date  book_cover
2018-01-01 반양장본               1.0    310.0
2018-03-20 반양장본               1.0  42477.0
2018-03-23 양장본                1.0     80.0
2018-04-01 반양장본               1.0    140.0
2018-04-10 양장본                1.0    150.0

## 피벗테이블 (groupby와 비교)

* Index 축은 groupby와 동일
* Column에 추가로 labelling 값을 추가
* Value에 numeric type 값을 aggregate 하는 형태
참조: https://wesmckinney.com/blog/fast-and-easy-pivot-tables-in-pandas-0-5-0/

`stu_info.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')`

* data: 분석할 데이터프레임 (메서드일 때는 필요하지 않음)
* values: 분석할 데이터프레임에서 분석할 열
* index: 행 인덱스로 들어갈 키 열 또는 키 열의 리스트
* columns: 열 인덱스로 들어갈 키 열 또는 키 열의 리스트
* aggfunc: 분석 메서드
* fill_value: NaN 대체 값
* margins: 모든 데이터를 분석한 결과를 오른쪽과 아래에 붙일지 여부
* margins_name: 마진 열(행)의 이름

In [0]:
stu_info['성별'] = stu_info['성별'].replace(
    {'남 ' : '남', '여 ': '여', '정보없음':'여'})

In [0]:
# 전공별 학생수
## Pivot
stu_info.pivot_table(values='성명', index='전공', 
                     aggfunc='count').rename(
                    columns={'성명':'학생수'})

## groupby
stu_info.groupby("전공")[['성명']].agg('count').rename(columns={'성명':'학생수'})

In [0]:
# 전공별 학생수(성별추가)
## Pivot
stu_info.pivot_table(values='성명', index='전공', 
                     columns='성별', aggfunc='count')
## groupby
stu_info.groupby(["전공","성별"])["성명"].count().unstack()

In [0]:
#  대륙별/국별 / 전공별 학생수(조건:서울시립대,합계포함)
## Pivot
stu_info[stu_info['참가기간(시작)'] > '2012/01'].pivot_table(
    values='성명', index=['대륙','국가'], columns='전공',
    aggfunc='count', fill_value='-', margins=True)
## groupby
stu_info[stu_info['참가기간(시작)'] > '2012/01'].groupby(
    ['대륙', '국가', '전공'])['성명'].count().unstack().fillna('-')

In [0]:
#  대륙별/국별 /전공별 /성별 학생수 및 졸업여부
## Pivot
stu_info[stu_info['참가기간(시작)'] > '2012/01'].pivot_table(
    index=['대륙','국가'], columns=['전공','성별'],
    aggfunc={'성명': 'count', '졸업일':'count'}, fill_value='-').rename(
    columns={'성명':'학생수', '졸업일':'졸업여부'}).replace(0,'-')
## groupby
stu_info[stu_info['참가기간(시작)'] > '2012/01'].groupby(
    ['대륙','국가','전공','성별'])[['성명','졸업일']].count(
    ).unstack(level=2).unstack().fillna('-').rename(
     columns={'성명':'학생수', '졸업일':'졸업여부'}).replace(0,'-')

In [0]:
# aggfunc=np.sum함수로 합계를 위해
# stu_info['성명'] 모두 1로 변경
name = \
stu_info['성명'].replace(
                        r'^.', 1, regex = True)
#동일한 결과:
#stu_info['성명'].replace(stu_info[stu_info['성명'] != ""]['성명'], 1)

* dateutil 패키지의 parse 명령: 자동으로 형식 문자열 찾아 datetime.datetime 클래스 객체로 변환

In [0]:
import dateutil
df_phone = pd.read_csv("./data/phone_data.csv")
df_phone['date'] =df_phone['date'].apply(dateutil.parser.parse, dayfirst=True) 
# dayfirst=True 유럽식 일자표기(일/월)

df_phone.pivot_table(["duration"],
                index = [df_phone.month, df_phone.item],
                columns = df_phone.network, aggfunc="sum", fill_value=0)

## 날짜,시간 인덱스

### 날짜 배열 빈도 기준 확인 <br> <날짜객체.freq>

`idx_d.freq`

In [0]:
import pandas as pd
idx_d = pd.Index(pd.date_range('20130101',periods=3))
# pd.DatetimeIndex(['20130101', '20130102', '20130103']) 
# freq=None 인 것 외에는 같은 인덱스 배열
idx_d.freq

### 날짜시간 인덱스생성과 빈도수 지정 코드

`pd.date_range('20180703', '20191203', freq = 'H')`
`pd.date_range('20180703', freq = 'H', periods=4)`: period가 지정되면 `enddate` 인수는 없음

* `period` 에 `freq` 인수에 따른 빈도수를 지정한다

* `freq` 인수는 아래와 같다
   * Y[A]:연말, YS[AS]:연초, Q:분기말, QS:분기초, M:월말, MS:월초, W:주일, D:일
   * B:영업일, BY[A]:영업기준연말, BYS[AS]:영업기준연초, BQ:영업기준분기말, BQS:영업기준분기초, BM: 영업기준월말, BMS:영업기준월초
   * W-MON: 주(월요일), WOM-2THU: 각 달의 두번째 목요일, Q-JAN: 각 분기의 첫달의 마지막 날, Q-DEC: 각 분기의 마지막 달의 마지막 날
   * H:시, T:분, S:초, MS:밀리초, US:마이크로초, NS:나노초, PS:피코초, FS:펨토초

In [0]:
Image("./img/date offset.png")

In [0]:
pd.date_range('2018/07/03', freq = 'H', periods=4)

In [0]:
pd.date_range('20160703', freq = 'BMS', periods=4)

### 날짜시간 차 인덱스생성 <pd.timedelta_range>

`pd.date_range('20180703', '20191203', freq = 'H')`<br>
`pd.date_range('20180703', freq = 'H', periods=4)`: period가 지정되면 `enddate` 인수는 없음

* `period` 에 `freq` 인수에 따른 빈도수를 지정한다

* `freq` 인수는 아래와 같다
   * Y[A]:연말, YS[AS]:연초, Q:분기말, QS:분기초, M:월말, MS:월초, W:주일, D:일
   * B:영업일, BY[A]:영업기준연말, BYS[AS]:영업기준연초, BQ:영업기준분기말, BQS:영업기준분기초, BM: 영업기준월말, BMS:영업기준월초
   * H:시, T:분, S:초, MS:밀리초, US:마이크로초, NS:나노초, PS:피코초, FS:펨토초

In [0]:
pd.date_range('2018/07/03', freq = 'H', periods=4)

### 주기 나타내는 인덱스로 변경(freq 변경) <br> <pd.to_period('D')>

`dr3.to_period('D')`

In [0]:
dr3 = pd.date_range('2018-08-03', periods=24, freq='H')
dr3.to_period('D')

### 주기 인덱스 생성<br>  <pd.period_range('2018-01', periods=13, freq='M')>

`pd.period_range('2018-01', periods=13, freq='M')`

In [0]:
dr_m = pd.period_range('2018-01', periods=13, freq='M')
dr_m

### 시간 간격 인덱스 생성 <br> <pd.timedelta_range(0, periods=10, freq='H')>

`pd.timedelta_range(0, periods=10, freq='H')`

In [0]:
tm_1 = pd.timedelta_range(0, periods=10, freq='H')
tm_1

### 시간 차이 계산 <tm1 - tm1[0]>

`tm_1 - tm_1[1] (벡터화 연산)`

In [0]:
tm_1 - tm_1[1]

In [0]:
dr2 = pd.date_range('2018-07-03', periods=8)
dr2

In [0]:
dr2 - dr2[0]

### 다운샘플링 시 sum/mean등의 그룹연산으로 대표값 구함 <br> <.resample(단위시간).sum()>

`data.resample('3h').sum()` 1-> 3시간으로 그룹화 후 연산(sum)<br>
`data.resample('D').sum()` 1시간-> 1일로 그룹화 후 연산(sum)<br>
`data.resample('W').mean()` 1시간-> 1주로 그룹화 후 연산(mean)<br>
`data.loc['2012-10'].sum()` 2012년 10월 한달 인도수 연산(sum)<br>
`data.asfreq('W')`  기존 Index 빈도를 주 단위로 변경

In [0]:
data = pd.read_csv('C:/Users/Gumin JUNG/OneDrive - 서울시립대학교/jupyter_notebook/실습자료-손에잡히는판다스/data/hanriver_bridge.csv', 
                   index_col='Date', parse_dates=True, engine='python')
data.head(2)

`다운-샘플링`은 원래 데이터가 그룹으로 묶여 그룹바이(groupby)때와 같이 그룹 연산 해서 대표값을 구함

In [0]:
data.resample('D').sum().loc['2012-10-03']
data.resample('D').sum().head()
data.resample('W').mean().head()

data.loc['2012-10'].sum()

# asfreq는 현재 인덱스에서 동일한 값을 유지하며, DatetimeIndex를 다른 빈도로 변경하려는 경우에 사용
data.asfreq('W').head()

* 날짜가 아닌 시/분 단위에서
    * 구간위 왼쪽 한계값(가장 빠른 값)은 포함
    * 오른쪽 한계값(가장 늦은 값)은 포함하지 않음 (즉, 가장 늦은 값은 다음 구간에 포함됨) <br>
     e.g. 10분 간격으로 구간 만들면 10의 배수가 되는 시각은 구간의 시작점이 됨

In [0]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2018-1-1", periods=60, freq="T"))
ts.head(20)
ts.resample('10T').sum()

* 왼쪽 아닌 오른쪽 한계값을 구간에 포함하려면 `closed="right"` 인수사용
* 이 때는 10의 배수가 되는 시각이 앞 구간에 포함 됨

In [0]:
ts.resample('10T', closed="right").sum()

* `ohlc` 메서드: 구간의 시고저종(open, high, low, close)값 구함

In [0]:
ts.resample('5T').ohlc()

### 업-샘플링 시 ffill/bfill로 대표값 구함 <br> <.resample(단위시간).ffill [or bfill] ()>

업-샘플링의 경우에는 실제로 존재하지 않는 데이터를 만들어야 하며 아래 두 방식 사용
   * `ffill`: 앞에서 나온 데이터를 뒤에서 그대로 쓰는 forward filling 방식  
   * `bfill`: 뒤에서 나올 데이터를 앞에서 미리 쓰는 backward filling 방식

In [0]:
ts.resample('30s').ffill().head(20)
ts.resample('30s').bfill().head(20)

## 인덱스

### index변경 <br> <df.rename({'기존index문자':'대체할index문자'})>

In [0]:
s = pd.Series([1,2,3,4])
s

In [0]:
s_re = s.rename({0:'a',1:'b',2:'c',3:'d'})
s_re

### index 순서변경 <df.reindex('설정할index문자 [또는 리스트]')>

In [0]:
# 'e' index를 가진 값 존재하지 않으므로 null처리
s_re.reindex(['b','a','c','e'])

###  범주형 자료로 된 index를 .rename으로 정수로 변경 후 덧셈연산

In [0]:
1. 범주형 index인 s3를 .rename 메소드로 정수형으로 변경 후 덧셈연산
s1 = pd.Series([10,20,30], index=[0,1,2])
s1.index.dtype # dtype('int64')
s3 = pd.Series([11,12,13], index=list('012'))
s3.index.dtype # dtype('O')
s3 = s3.rename({'0':0, '1':1,'2':2})
s1 + s3

2. 또는 새 시리즈 생성 해 index.values 속성에 가 astype 메소드로 int64 변환 후 덧셈연산
s4 = pd.Series([11,12,13], index=list('012'))
s4.index = s4.index.values.astype('int64')
s1 + s4

### 1부터 시작하는 인덱스 만들기

In [0]:
new_list = np.arange(1, 21)
df.set_index(new_list).rename(columns={'index': '구분'})

### A인덱스객체는 포함되나 B객체에 없는 레이블 검색 <A인덱스객체.difference(B인덱스객체)>

`idx1.difference(idx2)`  객체 간 동일 인덱스 검색

In [0]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index(range(1,4))
idx1.difference(idx2)

### 범주형 인덱스 추가 <br>  <s.index.add_categories(새카테고리,inplace=False)>

`s.index.add_categories(5)`  범주형 인덱스 추가

In [0]:
inx_i = pd.CategoricalIndex([1,2,3,4])
s = pd.Series([1,2,3,4],index=inx_i)
s;  s.index.add_categories(5)

### 원하는 위치에 칼럼, 값 생성 <br> <index.insert(loc, item) / df.insert(loc, column, value, allow_duplicates = False)>

`df.insert(loc, column, value, allow_duplicates = False)` <br>
`s.index.insert(loc, item)`

* stu_info["학과"] = "IUDP" 와 동일한 결과이나, insert 명령은 위치지정가능

In [0]:
stu_info.insert(0, "학과", "IUDP")

In [0]:
stu_info.index.insert(341, "추가")

In [0]:
# 행별로 다른 데이터 삽입

입학년도 = pd.Series([])

for i in range(len(stu_info)):
    if stu_info['참가기간(시작)'][i].year == 2012:
        입학년도[i] = "2012 IUDP"
    elif stu_info['참가기간(시작)'][i].year == 2013:
        입학년도[i] = "2013 IUDP"
    elif stu_info['참가기간(시작)'][i].year == 2014:
        입학년도[i] = "2014 IUDP"
    elif stu_info['참가기간(시작)'][i].year == 2015:
        입학년도[i] = "2015 IUDP"
    elif stu_info['참가기간(시작)'][i].year == 2016:
        입학년도[i] = "2016 IUDP"
    elif stu_info['참가기간(시작)'][i].year == 2017:
        입학년도[i] = "2017 IUDP"
    elif stu_info['참가기간(시작)'][i].year == 2018:
        입학년도[i] = "2018 IUDP"
    else:
        입학년도[i] = "고려대  MPA"

stu_info.insert(0, 'Year', 입학년도)
stu_info.query('Year == "고려대  MPA"')
# 동일결과: stu_info.loc[stu_info['Year'].isin(["고려대  MPA"])]

### 문자열수식으로 열 간 연산 수행 <.eval(str, inplace=False)>

In [0]:
data.columns=['좌측', '우측']
data['합산'] = data.eval('좌측 + 우측') # data.eval('합산 = 좌측 + 우측') 와 동일한 결과
data.head()

### numpy 연산 <np.mean():평균, np.var():분산, np.var(x, ddof=1):비편향분산, np.std():표준편차, np.percentile()>

`np.mean(x)` 평균<br>
`np.var(x)` 분산<br>
`np.median(x)` 중앙값<br>
`np.percentile(x, 0)` 최소값<br>
`np.percentile(x, 25)` 1사분위수<br>
`np.percentile(x, 50)` 중간값, 2사분위수<br>
`np.percentile(x, 75)` 3사분위수<br>
`np.percentile(x, 100)` 최대값<br>
`from scipy.stats import describe; describe(x)` # scipy 패키지로 한 번에 기술 통계값

In [0]:
x = np.array([18,   5,  10,  23,  19,  -8,  10,   0,   0,   5,   2,  15,   8,
              2,   5,   4,  15,  -1,   4,  -7, -24,   7,   9,  -6,  23, -13])
# 분산
np.var(x); 
# 아래 식과 동일한 결과
y = []
for i in range(len(x)):
    y.append([(x[i] - np.mean(x))**2])
np.sum(y)/len(x);

#중앙값: 데이터 수가 짝수이면 가장 가운데 두 수의 평균을 사용
np.median(x); 

# 사분위수
np.percentile(x, 0)  # 최소값
np.percentile(x, 25)  # 1사분위수
np.percentile(x, 50)  # 중앙값, 2사분위수
np.percentile(x, 75)  # 3사분위수
np.percentile(x, 100)  # 최대값

# scipy 패키지로 한 번에 기술 통계값 구하기
from scipy.stats import describe
describe(x)

## 난수 생성<br> 
#### 1. np.random.seed(x) / 2. np.random.rand(3,5) / 3. np.random.randn(3,5) / 4. np.random.randint(low, high=None, size=None)>

`np.random.seed(x)` 난수 수열생성을 위한 시작 숫자 (0=<x)<br>
`np.random.rand(3,5)`: 0부터 1사이의 균일 분포<br>
`np.random.randn(3,5)`: 가우시안 표준 정규 분포(기댓값 0, 표준편차 1)<br>
`np.random.randint(low, high=None, size=None)`: 균일 분포의 정수 난수<br>
* high 미입력 시 0과 low사이 숫자를, 
* high 입력 시 low와 high 사이의 숫자를 출력
* size는 난수의 숫자

In [0]:
np.random.seed(0)

np.random.rand(10)
np.random.rand(3, 5) #`randn` 명령은 기댓값이 0이고 표준편차가 1인 가우시안 표준 정규 분포를 따르는 난수를 생성한다. 인수 사용법은 `rand` 명령과 같다.

np.random.randn(10)
np.random.randn(3, 5)

np.random.randint(10, size=10)
np.random.randint(10, 20, size=10)
np.random.randint(10, 20, size=(3, 5))

### 균일간격 점 생성 <br> np.linspace(시작값, 끝값, 256)

`np.linspace(-np.pi, np.pi, 256)` 시작점과 끝점을 균일 간격으로 나눈 점들을 생성<br>

In [0]:
np.linspace(-np.pi, np.pi, 256)

### 난수 데이터 순서변경과 샘플링<br>  1.np.random.shuffle(np.arange(10) <br>  2.np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])

`np.random.shuffle(np.arange(10)`: 데이터 순서 변경<br>
`np.random.choice(a, size=None, replace=True, p=None)`: 데이터 샘플링<br>
* a : 배열이면 원래의 데이터, 정수이면 arange(a) 명령으로 데이터 생성
* size : 정수. 샘플 숫자
* replace : 불리언. True이면 한번 선택한 데이터를 다시 선택 가능
* p : 배열. 각 데이터가 선택될 수 있는 확률

In [0]:
x = np.arange(10)
np.random.shuffle(x)

np.random.choice(5, 5, replace=False)  # shuffle 명령과 같다.
np.random.choice(5, 3, replace=False)  # 3개만 선택
np.random.choice(5, 10)  # 반복해서 10개 선택
np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])  # 선택 확률을 다르게 해서 10개 선택

### 난수가 정수일 때 데이터 카운팅 <br>  1.np.unique([11, 11, 2, 2, 34, 34], return_counts=True)<br> 2.np.bincount([1, 1, 2, 2, 2, 3], minlength=6)

`np.unique([11, 11, 2, 2, 34, 34], return_counts=True)`
* 중복 아닌 값 리스트 출력
* return_counts=True 설정 시 각 값을 가진 데이터 갯수 출력

`np.bincount([1, 1, 2, 2, 2, 3], minlength=6)`
* 최소 여섯번 째 인덱스까지의 데이터를 카운트, 없는 데이터 인덱스에 대해 0으로 표시

In [0]:
np.unique([11, 11, 2, 2, 34, 34])
a = np.array(['a', 'b', 'b', 'c', 'a'])
index, count = np.unique(a, return_counts=True)
index
count

np.bincount([1, 1, 2, 2, 2, 3], minlength=6)

### Power BI에 Jupyter Notebook에 삽입하기 <br> <from IPython.display import IFrame <br>powerBiEmbed = 'power bi embed code'<br>IFrame(powerBiEmbed, width=int, height=int)>

`from IPython.display import IFrame` <br>
`powerBiEmbed = 'https://app.powerbi.com/view?... IFrame(powerBiEmbed, width=800, height=600)`

In [0]:
from IPython.display import IFrame
powerBiEmbed = 'https://app.powerbi.com/view?r=eyJrIjoiY2MzZWYzOTMtOTEwMi00OWVkLTk4ZTQtMjQxZTk2ODdlYjg1IiwidCI6ImIwOTg4YzEzLWUxMzQtNGI3OC1hZGY3LTVkMWU1YjI0MTAxOCIsImMiOjEwfQ%3D%3D'

IFrame(powerBiEmbed, width=800, height=600)

### Azure Jupyter Notebook에 확장기능 설치

In [0]:
!pip install jupyter_contrib_nbextensions
!jupyter contrib nbextension install --user
!/usr/local/bin/jupyter nbextension enable codefolding/main
def f():
    print('hello there')

***pd.concat***(<br>
***objs***,  # Series, DataFrame, Panel object<br>
***axis=0***,  # 0: 위+아래로 합치기, 1: 왼쪽+오른쪽으로 합치기<br>
***join='outer'***, # 'outer': 합집합(union), 'inner': 교집합(intersection)<br>
***join_axes=None***, # axis=1 일 경우 특정 DataFrame의 index를 그대로 이용하려면 입력<br>
***ignore_index=False***,  # False: 기존 index 유지, True: 기존 index 무시<br>
***keys=None***, # 인덱스 기입, 계층적 index 사용하려면 keys 튜플 입력<br>e.g. pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])<br>
***levels=None***,<br>
***names=None***, # index의 이름 부여하려면 names 튜플 입력<br>
***verify_integrity=False***, # True: index 중복 확인<br>***copy=True)*** # 복사<br>

***pd.merge***(<br>
***left, right***, # merge할 DataFrame 객체 이름<br>
***how='inner'***, # left, rigth, inner (default), outer<br>
***on=None***, # merge의 기준이 되는 Key 변수<br>
***left_on=None***, # 왼쪽 DataFrame의 변수를 Key로 사용<br>
***right_on=None***, # 오른쪽 DataFrame의 변수를 Key로 사용<br>
***left_index=False***, # 만약 True 라면, 왼쪽 DataFrame의 index를 merge Key로 사용<br>
***right_index=False***, # 만약 True 라면, 오른쪽 DataFrame의 index를 merge Key로 사용<br>
***sort=True***, # merge 된 후의 DataFrame을 join Key 기준으로 정렬<br>
***suffixes=('_x', '_y')***, # 중복되는 변수 이름에 대해 접두사 부여 (defaults to '_x', '_y'<br>
***copy=True***, # merge할 DataFrame을 복사<br>
***indicator=False)*** # 병합된 이후의 DataFrame에 left_only, right_only, both 등의 출처를 알 수 있는 부가 정보 변수 추가<br>

출처: https://rfriend.tistory.com/256 [R, Python 분석과 프로그래밍 (by R Friend)]

### 전체 설문대상자 중 응답자 비율<br> data.isnull().sum()/data.isnull().count()*100

In [0]:
train_df.isnull().sum()/train_df.isnull().count()*100

### 접두어,접미어 붙이기<br> data.add_prefix('X_') , data.add_suffix('_Y')

In [0]:
df.add_prefix('X_')

In [0]:
df.add_suffix('_Y')

### 행 역순정렬<br> data.loc[: : -1].reset_index(drop=True)

In [0]:
drinks.loc[::-1].reset_index(drop=True).head()

### 열 역순정렬<br> data.loc[:, : : -1]

In [0]:
drinks.loc[::-1].reset_index(drop=True).head()

### 숫자로 된 문자형 데이터열을 숫자형 열로 변경<br> data.astype({'col_name1':'float', 'col_name2':'float'})

In [0]:
df.astype({'col_one':'float', 'col_two':'float'})

### '-' 등의 문자열포함 데이터열을 숫자형 열로 변경<br> Series적용: pd.numeric(data.col_name, error=coerce).fillna('0') <br>DataFrame적용: df.apply(pd.to_numeric, errors='coerce').fillna(0)

In [0]:
pd.numeric(df.col_three, error=coerce).fillna('0')
# error=coerce: 문자열포함 데이터열에 대해 pd.numeric 실행 시 발생하는 error 필드를 NaN 값 처리
# fillna(0)로 NaN 값을 숫자로 변경

df = df.apply(pd.to_numeric, errors='coerce').fillna(0)
df

# 데이터프레임 스타일링

## 열별 포맷 지정 <br> format_dict = {'Date':'{:%m/%d/%y}', 'Close':'${:.2f}', 'Volume':'{:,}'}<br>data.style.format(format_dict)

In [0]:
stocks.head(3)

In [0]:
format_dict = {'Date': '{: %m%d%y}', 'Close': '${:.2f}', 'Volume':'{:,}'}
stocks.style.format(format_dict)

## 열별 포맷 추가메소드 지정: 인덱스 숨기기, 최소-최대값 표시<br> (data.style.format(format_dict)<br>.hide_index()<br>.highlight_min('Close', color='red')<br>.highlight_max('Close', color='lightgreen')<br>)

In [0]:
(stocks.style.format(format_dict)
.hide_index()
.highlight_min('Close', color='red')
.highlight_max('Close', color='lightgreen')
)

## 열별 포맷 추가메소드 지정: 배경색으로 값 위계 표시<br> (data.style.format(format_dict)<br>.hide_index()<br>.background_gradient(subset='Volume', cmap='Blues')<br>)

In [0]:
(stocks.style.format(format_dict)
.hide_index()
.background_gradient(subset='Volume', cmap='Blues')
)

## 열별 포맷 추가메소드 지정: 배경색 바로 값 위계 표시, 제목 캡션 달기<br> (data.style.format(format_dict)<br>.hide_index()<br>.bar('Volume', 'lightblue', align='zero')<br>.set_caption('Stock Prices from October 2016')<br>)

In [0]:
(stocks.style.format(format_dict)
.hide_index()
.bar('Volume', color='lightblue', align='zero')
.set_caption('Stock Prices from October 2016')
)

## 문자열 데이터 칼럼을 적합한 형태의 데이터타입으로 변환<br> data.infer_objects()

In [0]:
stocks.infer_objects()

## 웹페이지의 테이블가져오기 변환<br> pd.read_html("url", header=0, parse_dates=["Call Date"]); print(tables[0])

출처: https://medium.com/@ageitgey/quick-tip-the-easiest-way-to-grab-data-out-of-a-web-page-in-python-7153cecfca58

In [0]:
calls_df = pd.read_html("https://finance.naver.com/sise/sise_index.nhn?code=KOSPI", 
#                         header=0, , parse_dates=["날짜"]
                       )
calls_df[0]
# calls_df.tables[0]
# decode('euc-kr')

## Pandas를 이용한 Naver금융에서 주식데이터 가져오기<br> pd.read_html("url", header=0, parse_dates=["Call Date"]); print(tables[0])

출처: https://excelsior-cjh.tistory.com/109

### 한국거래소(krx)에서 종목코드 가져오기

In [0]:
code_df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]

# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)

# 우리가 필요한 것은 회사명과 종목코드이기 때문에 필요없는 column들은 제외해준다.
code_df = code_df[['회사명', '종목코드']]

# 한글로된 컬럼명을 영어로 바꿔준다.
code_df = code_df.rename(columns={'회사명': 'name', '종목코드': 'code'})
code_df.head()

In [0]:
code_df.code.loc['신라젠']

### 네이버금융(Naver금융)에서 종목 별 일자 데이터 가져오기: 신라젠(215600) 일자 데이터를 가져오기

In [0]:
# 종목 이름을 입력하면 종목에 해당하는 코드를 불러와 
# 네이버 금융(http://finance.naver.com)에 넣어줌 
def get_url(item_name, code_df): 
    code = code_df.query("name=='{}'".format(item_name))['code'].to_string(index=False).strip()
    url = 'http://finance.naver.com/item/sise_day.nhn?code={code}'.format(code=code)
    print("요청 URL = {}".format(url))
    return url

# 신라젠의 일자데이터 url 가져오기
item_name='신라젠'
url = get_url(item_name, code_df)

# 일자 데이터를 담을 df라는 DataFrame 정의
df = pd.DataFrame()

# 1페이지에서 20페이지의 데이터만 가져오기
for page in range(1, 21):
    pg_url = '{url}&page={page}'.format(url=url, page=page)
    df = df.append(pd.read_html(pg_url, header=0)[0], ignore_index=True)
    
# df.dropna()를 이용해 결측값 있는 행 제거
df = df.dropna()

# 상위 5개 데이터 확인하기 
df.head()

### 분석용으로 데이터 전처리

In [0]:
# 한글로 된 컬럼명을 영어로 바꿔줌
df = df.rename(columns= {'날짜': 'date', '종가': 'close', '전일비': 'diff', 
                         '시가': 'open', '고가': 'high', '저가': 'low', '거래량': 'volume'})

# 데이터의 타입을 int형으로 바꿔줌
df[['close', 'diff', 'open', 'high', 'low', 'volume']] \
    = df[['close', 'diff', 'open', 'high', 'low', 'volume']].astype(int)

# 컬럼명 'date'의 타입을 date로 바꿔줌
df['date'] = pd.to_datetime(df['date'])

# 일자(date)를 기준으로 오름차순 정렬
df = df.sort_values(by=['date'], ascending=True)

# 상위 5개 데이터 확인
df.head()

# Plotly

In [0]:
def configure_plotly_browser_state():
  import IPython
  display(IPython.core.display.HTML('''
        <script src="/static/components/requirejs/require.js"></script>
        <script>
          requirejs.config({
            paths: {
              base: '/static/base',
              plotly: 'https://cdn.plot.ly/plotly-latest.min.js?noext',
            },
          });
        </script>
        '''))

In [0]:
from plotly import __version__
print (__version__)
import plotly
from plotly import tools
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

# Cufflinks wrapper on plotly
import cufflinks as cf

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell

# plotly + cufflinks in offline mode
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
cf.go_offline()

# set the global theme
cf.set_config_file(world_readable=True, theme='pearl', offline=True)

# Jupyter setup
init_notebook_mode(connected=True)

import ipywidgets as widgets

## plotly.py 테마설정

출처1: https://medium.com/@plotlygraphs/introducing-plotly-py-theming-b644109ac9c7 <br>
출처2: https://github.com/plotly/plotly.py/pull/1224#event-1920307709

A theme is specified as a layout.template object. Import the following to begin:

In [0]:
import plotly.graph_objs as go
import plotly.io as pio

You create an empty figure, say, with large Courier text:

In [0]:
fig = go.Figure(layout={
    'title': 'Figure Title', 
    'font' : {'size': 20, 'family': 'Courier'}
    } 
)
iplot(fig)
# fig.layout
    # Layout({
    #     'font': {'family': 'Courier', 'size': 20}, 'title': {'text': 'Figure Title'}
    # })

With the `pio.to_templated` function, a copy of the figure is returned with the styling attributes extracted and moved to the `layout.template` object:

In [0]:
templated_fig = pio.to_templated(fig)
# Calling templated_fig.layout will output:
# Layout({
#     'title': 'Figure Title',
#     'template': {'layout': {'font': {'family': 'Courier',
#                                      'size': 20}}}, 
# })

# Saving
pio.templates['large_courier'] = templated_fig.layout.template

This registers your theme, named `large_courier`, so you can specify it by name when constructing a new figure:

In [0]:
fig2 = go.Figure(layout={'title': 'Figure 2 Title',
                         'template': 'large_courier'})
fig2.layout
# Layout({
#     'title': 'Figure 2 Title',
#     'template': {'layout': {'font': {'family': 'Courier',
#                                      'size': 20}}}, 
# })

`pio.templates.default` sets your theme as a `global default`. Now it will be applied automatically when creating any new figure.

In [0]:
pio.templates.default = 'large_courier'

In [0]:
fig3 = go.Figure(layout={'title': 'Figure 3 Title'})
fig3.layout

## 플롯에 마진없애기

출처: https://stackoverflow.com/questions/50466450/how-to-remove-plot-margin-in-plotly-tools-make-subplots

In [0]:
fig['layout'].update(margin=dict(l=0,r=0,b=0,t=0))

## dticks: tick 간격

출처: https://plot.ly/python/tick-formatting/

In [0]:
layout = go.Layout(
    xaxis = go.layout.XAxis(
        tickmode = 'linear',
        tick0 = 0.5,
        dtick = 0.75
    )
)

## X축 공유 플롯에서 플롯별로 높이를 다르게 지정하기

출처: https://stackoverflow.com/questions/52856836/plot-ly-different-height-for-subplots-with-shared-x-axes

In [0]:
fig = tools.make_subplots(rows=3, cols=1,
                          shared_xaxes=True,
                          vertical_spacing=0.1,
                          subplot_titles=('subtitle 1', 'subtitle 2', 'subtitle 3'),
                          row_width=[0.2, 0.4, 0.2]
                         )